<% @page_title = "help" %>

<% content_for :left_bar do %>  
	<%= render(:partial => "layouts/leftBar")%>
<% end %>


<h2>How to use this vacation request system</h2>
<p>
	This is an vacation request app built for CB China, which is coded in ruby on rails.
	This is a fantastic framework for web development. When I compared this web development pattern with 
	php, asp.net, I was conqured by the agility and speed, and I am convinced this is the trend in the 
	future web development.<br />
	So, why not try to click all the links to see the power of this new framework. For this application, I have spent
	15 hours for study, and 10 hours for back-end development.
	If your see any problems in this vacation request system, or if your have any more ideas for this app, please
	let me know.	
	<br />
	<br />
	Best regards,
	<br />
	Jia Liang
 </p>
