<table class="table">
	<tr>
		<th>request hours</th>
		<td> <%= f.text_field(:request_hours) %></td>
	</tr>
	<tr>
		<th>remain hours</th>
		<td> <%= f.text_field(:remain_hours) %></td>
	</tr>
	<tr>
		<th>content</th>
		<td><%= f.text_area(:leave_text, :size => "40 * 40") %></td>
	</tr>
</table>